button
{
  background-color: #361974;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}

button:hover
{
  background-color: #30156f;
  transition: 2s;
  cursor : pointer;

}
:root {
  --animation-speed: .5s;
  --primary-color: #000;
  --secondary-color: #000;
  --background-color: blue;
  --text-color: blue;
  --font: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.rain-container {
  position: relative;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d63c6f01-913a-4b24-82c2-884269978d01/d4wmz75-5ec4180f-92d2-465b-b97a-8c84e440342b.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q2M2M2ZjAxLTkxM2EtNGIyNC04MmMyLTg4NDI2OTk3OGQwMVwvZDR3bXo3NS01ZWM0MTgwZi05MmQyLTQ2NWItYjk3YS04Yzg0ZTQ0MDM0MmIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Zob5KzkBYkQrY51tmvjHXFurp0kHqoGYxyDKtq0LvBI);
  /*   background: url("https://rb.gy/ufafte") no-repeat center center fixed; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
}

i {
  position: absolute;
  height: 120px;
  border-radius: 0 0 999px 999px;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(calc(100vh + 120px));
  }
}
body {
  color: red;
}
#text {
  color: white;
}
#name {
  color: red;
}
.lmao {
  padding-top: 15%;
}
.bord {
  border: solid 2px;
  border-radius: 5px;
  margin: none;
}
